.cover {
  box-sizing: border-box !important;
  // padding-top: 100px !important;
  color: var(--head-font-color);
  height: 100vh;

  .info {
    margin-top: 0.3rem;
    font-weight: 700;
    font-size: 1.3rem;
  }

  .image-wrapper {
    padding: 5rem 0;
    width: 100%;
    height: 30rem;
    display: block;
    overflow: hidden;
    align-items: center;
    img {
      width: 100%;
      height: auto;
      z-index: 1
    }
  }

  .names {
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
  }

}
