.share-button {
  padding: 2rem 1rem;

  button{
    // box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.2);
    // box-sizing: border-box;
    padding: 15px 100px;
    border-radius: 10px;
    background-color: var(--normal-font-color);
    color: var(--dark-grey-color);

  }
  .ktalk-share {
    position: relative;
    z-index: 3;
    font-size: 0.9rem;
    font-weight: 600;
    display: inline-block;
    width: 90%;
    img {
      width: 0.7rem;
      height: 0.7rem;
    }
  }
}
