button.button {
  font-family: inherit;
  background: none;
  position: relative;
  z-index: 3;
  font-size: 1rem;

  &.button-style-1 {
    background-color: var(--white-color);
    border: solid 0.07rem #ddd;
    color: var(--dark-color);
    border-radius: 1.7rem;
    padding: 0.8rem 1rem;
  }

  &.button-style-2 {
    background-color: var(--alt-color);
    color: var(--white-color);
    border: none;
    padding: 0.5rem 1rem;
  }
}
