.invitation {

  h3{
    font-size: 1.6rem;
    color: var(--head-font-color);
  }

  background-image: url('../../images/bg1.png');
  position: relative;
  height: 100vh; /* 화면 전체 높이 */
  background-repeat: no-repeat;
  background-position: center 110%; /* 수평 중앙, 수직 50% (화면 중간) */
  background-size: contain; /* 또는 cover */

.image-wrapper {
  padding: 50px 0;;
  width: 100%;
  display: block;
  overflow: hidden;
  // display: flex;
  align-items: center;
  img {
    width: 100%;
    height: auto;
  }
}


  .content {
    color: var(--point-font-color);    
    font-weight: 500;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
  }

  .name-wrapper{
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .name {
    margin-top: 1rem;
    // margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: var(--theme-bg-color);
    .relation {
      font-size: 0.9rem;
      opacity: 0.7;
      padding-left: 5px;

      .relation-name {
        display: inline-block;
        min-width: 2em;
      }
    }
  }
}

.contact-modal {
  width: 22rem;

  .header {
    .title-group {
      text-align: center;
      .title {
        font-size: 1.2rem;
        // color: var(--theme-color);
        padding: 0.5rem;
      }
      .subtitle {
        font-size: 0.9rem;
      }
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--dark-grey-color);
    }
  }

  .content {
    padding: 0.7rem;
    padding-bottom: 1rem;

    .contact-info {
      padding: 1rem 0.7rem;
      display: grid;
      grid-template-columns: 8rem 7rem 1fr;
      row-gap: 0.5rem;

      .relation {
        opacity: 0.7;
      }

      .icon {
        fill: var(--dark-color);
        margin: 0 0.5rem 0 0.5rem;
        opacity: 0.7;
        width: 1rem;
        height: 1rem;
        &.flip {
          transform: scaleX(-1);
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
  }
}
