.calendar {
  h3{
    font-size: 1.6rem;
    color: var(--head-font-color);
  }
  .date{
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--point-font-color);
  }

  .detail{
    opacity: 70%;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .hr {
    border: none;
    border-top: 2px solid var(--font-color);
    // margin: 0.5;
    width: 100%;
  }

  .light {
    border-top: 0.5px solid var(--font-color);
  }

  .calendar-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0.5rem;
    color: var(--day-font-color);

    > div {
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      &.head {
        aspect-ratio: auto;
        font-weight: bold;
        color: var(--day-font-color);
      }

      &.holiday {
        > span {
          color: var(--red-color);
        }
      }

      &.wedding-date {
        position: relative;

        > span {
          z-index: 1;
          // color: var(--white-color);
        }

        > div.heart {
          // width: 50%;
          // height: 50%;
          width: 70%;
          height: 70%;
          border-radius: 2px;
          background-color: rgba(var(--date-bg-color), 0.3);
          border-radius: 50%;
          // top: 35%;
          // left: 25%;
          position: absolute;
          transform: rotate(45deg);
          z-index: 0;
          &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: -50%;
            left: 0%;
            border-radius: 50%;
            // background-color: rgba(var(--date-bg-color), 0.5);
          }
          &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: -50%;
            border-radius: 50%;
            // background-color: rgba(var(--date-bg-color), 0.5);
          }
        }
      }
    }
  }

  .image-wrapper {
    padding: 50px 0;;
    width: 100%;
    display: block;
    overflow: hidden;
    // display: flex;
    align-items: center;
    img {
      width: 70%;
      height: auto;
    }
  }

  .countdown-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .countdown {
      display: grid;
      width: 15rem;
      grid-template-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
      align-items: center;
      * {
        margin: 0 0.1rem;
      }
      .count {
        opacity: 0.8;
        font-weight: bold;
        font-size: 1.2rem;
      }
      .unit {
        font-weight: bold;
        font-size: 0.6rem;
        opacity: 0.5;
      }
    }

    .message {
      margin-top: 2rem;
      margin-bottom: 1.5rem;
      .d-day {
        // color: var(--theme-color);
      }
    }
  }
}
